      <div class="filters">
        <div class="filters__group">
          <label>Diretoria</label>
          <select id="f-diretoria" class="input" data-search="true"></select>
        </div>
        <div class="filters__group">
          <label>Regional</label>
          <select id="f-gerencia" class="input" data-search="true"></select>
        </div>
        <div class="filters__group">
          <label>Gerente</label>
          <select id="f-gerente" class="input" data-search="true"></select>
        </div>
        <div class="filters__actions">
          <button id="btn-filtrar" class="btn btn--primary"><i class="ti ti-search"></i> Filtrar</button>
          <button id="btn-limpar" class="btn"><i class="ti ti-x"></i> Limpar filtros</button>
        </div>
      </div>

      <div class="filters__more filters__more--center">
        <button id="btn-abrir-filtros" class="btn btn--link btn--info" aria-expanded="false">
          <i class="ti ti-chevron-down"></i> Abrir filtros
        </button>
      </div>

